/* Colors */
:root {
    --black: #040c12;
    --white: #ffffff;
    --turquoise: rgb(92, 201, 159);
    --dustywhite: rgba(255, 255, 255, 0.2);
    --bluishblack: rgb(14, 17, 22);
    --reddishpink: #ea3f80;
    --lightyellow: #f8dd4f;
    --orange: rgb(235, 112, 72);
    --purple: rgb(25, 9, 48);
    --cobaltblue: rgb(68, 143, 183);
    --pink: #dd33f3;
    --hotpink-light: rgba(255, 105, 180, 0.5);
    --orange-light: rgba(235, 112, 72, 0.5);
    --cobalt-light: rgba(68, 143, 183, 0.5);
    --reddishpink-light: rgba(234, 63, 128, 0.5);
    --grey: rgb(90, 99, 106);
    --dusky-white: rgb(175, 179, 183);
    --dusky-blue: rgb(105, 129, 141);
    --dusky-green: rgb(45, 74, 83);
    --dusky-darkgreen: rgb(19, 46, 53);
    --green: rgb(13, 31, 35);

    --baby-blue: rgb(212, 241, 244);
    --blue-green: rgb(117, 230, 218);
    --blue-grotton: rgb(24, 154, 180);
    --navy-blue: rgb(5, 68, 94);
    --light-gray: rgb(238, 238, 238);

    --brick-red: #a22c29;
    /* --crimson-red: #c86e74; */
    --crimson-red: #040c12;
    --light-gray-side: rgb(238, 238, 238);

    --border: 4px;
    --nav-font: "Montserrat", sans-serif;
    --nav-height: 60px;
}

/* Page Structure */
html {
    scroll-behavior: smooth;
    /* -webkit-text-size-adjust: 100%; */
}

body {
    min-width: 400px; /* Suppose you want minimum width of 1000px */
    width: auto !important; /* Firefox will set width as auto */
    width: 400px; /* As IE6 ignores !important it will set width as 1000px; */

    font-family: var(--nav-font);
    margin: 0;
    padding: 0;
    font-size: 1rem;
    background-color: var(--light-gray);
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1f2937;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(
        rgb(233, 150, 61),
        rgb(249, 225, 76),
        rgb(249, 225, 76),
        rgb(233, 150, 61)
    );
}

/* Navigation Bar */
.navbar {
    position: fixed;
    display: flex;
    width: 100%;
    align-items: center;
    height: var(--nav-height);
    background-color: var(--crimson-red);
    border-bottom: var(--border) solid var(--light-gray);
    box-shadow: 0px var(--border) 0px 0px var(--light-gray);
    z-index: 1;
}

.nav-image {
    display: inline-flex;
    align-items: left;
    margin-left: 5px;
    margin-right: 15px;
}

.mainlogo {
    width: 45px;
    height: 40px;
}

.nav-elements {
    display: inline-flex;
    align-items: left;
    justify-content: left;
    font-family: var(--nav-font);
    font-size: 1.8rem;
    font-weight: 700;
    color: #ffffff;
    margin-right: auto;
}

#nav-separation {
    height: 50px;
    margin-right: 2px;
    margin-left: auto;
    border: 0.1rem solid;
    border-color: #eeeeee;
}

.nav-date-time {
    align-items: right;
    font-family: var(--nav-font);
    font-size: 0.8rem;
    font-weight: 600;
    font-style: italic;
    color: #eeeeee;

    margin-right: 0.01rem;
    /*border: 0.1rem solid;
    border-radius: 7px;*/
    padding: 3px 1px 2px 5px;
}

#date {
    align-items: right;
    padding-right: 10px;
}

.nav-dropdown {
    display: block;
    margin-left: auto;
    margin-right: 10px;
}

/* Page Layout*/
.page-layout {
    padding-top: var(--nav-height);
}

.page-layout #about-us {
    display: block;
}

.page-layout #notice-board {
    display: none;
}

.page-layout #courses {
    display: none;
}

.page-layout #hostel-form {
    display: none;
}

.page-layout #faculty {
    display: none;
}

.page-layout #placement {
    display: none;
}

.page-layout #contact-us {
    display: none;
}

/* Sidebar */
.sidebar {
    width: 3.15rem;
    height: 100%;
    position: fixed;
    display: flex;
    margin-top: calc(var(--nav-height) + var(--border) * 2);

    transition: width 0.09s ease;

    border-top: 2px solid var(--crimson-red);
    border-right: 2px solid var(--crimson-red);
    background-color: var(--white);
    z-index: 1;
}

.refactor-svg {
    width: 20px;
    height: 20px;
}

.icon-segregation {
    border: 0.1px solid transparent;
}

.side-contentbtn {
    display: flex;
    align-items: left;
    justify-content: left;

    font-family: var(--nav-font);

    padding: 10px 10px 10px 10px;
    margin: 10px 5px 10px 5px;
    background: transparent;
}

.side-contentbtn:hover {
    background-color: var(--light-gray-side);
}

.sidebtn {
    display: flex;
    align-items: left;
    justify-content: left;

    padding: 10px 10px 10px 10px;
    margin: 5px 5px 5px 5px;

    font-family: var(--nav-font);
    background: transparent;
}

.sidebtn:hover {
    background-color: var(--light-gray-side);
}

.sidebar-icons {
    width: 3.15rem;
}

.sidebar-text {
    display: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: medium;
    font-weight: 700;
    opacity: 0;
    transition: opacity 0.05s ease-out;
}

.expand .sidebar {
    width: 11rem;
}

.expand .sidebar-icons {
    width: 11rem;
}

.expand .sidebar-text {
    display: block;
    opacity: 1;
}

.color-transition {
    transition: background-color 0.05s ease; /* Adjust the duration as needed */
}

.heading {
    display: flex;
    margin-top: calc(var(--border) + 4px);
    margin-left: 62px;
    margin-right: 10px;

    padding: 15px 30px 15px 30px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);

    background-color: var(--white);
    font-size: larger;
}

.main-content {
    margin-left: 62px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    padding: 30px 30px 15px 30px !important;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);

    font-weight: 450;
    background-color: var(--white);
}

/* About Us */
.aboutus-image {
    display: flex;
    background-color: var(--white);
    justify-content: center;
}

#homepage-pic {
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    min-height: 100px;
    z-index: 0;
}

/* Notices */
#notices {
    /* border: 3px solid var(--crimson-red); */
    /* border-collapse: collapse; */
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px 10px 10px 10px;
    font-size: medium;
    width: 100%;
}

#notices td {
    text-align: left;
    padding: 10px 10px 10px 10px;
    background-color: var(--white);
    border: 3px solid var(--crimson-red);
    color: rgb(4, 12, 18);
    width: 100%;
}

#notices td a {
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
}

#notices th {
    text-align: left;
    padding: 10px 10px 10px 10px;
    background-color: rgb(4, 12, 18, 0.1);
    border: 3px solid var(--crimson-red);
    color: rgb(4, 12, 18);
    min-width: 100px;
}

#notices-left {
    width: 100%;
}

/* Courses */
.table-holder {
    display: inline-block;
    /* align-items: center;
    justify-content: center; */
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.style-table {
    width: 100%;
}

.style-table td {
    /* border-collapse: collapse; */
    border: 3px solid var(--crimson-red);
    /* border-collapse: collapse; */
    text-align: left;
    padding: 10px 10px 10px 10px;
    font-size: medium;
}

.style-table th {
    text-align: left;
    padding: 10px 10px 10px 10px;
    background-color: rgb(4, 12, 18, 0.1);
    border: 3px solid var(--crimson-red);
    color: rgb(4, 12, 18);
    width: 100px;
}

/* Faculty*/

#staff {
    text-align: left;
    padding: 10px 10px 10px 10px;
    font-size: medium;
    width: 100%;
}

#staff td {
    text-align: left;
    padding: 10px 10px 10px 10px;
    background-color: var(--white);
    border: 3px solid var(--crimson-red);
    color: rgb(4, 12, 18);
}

#staff td a {
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
}

#staff th {
    text-align: left;
    padding: 10px 10px 10px 10px;
    background-color: rgb(4, 12, 18, 0.1);
    border: 3px solid var(--crimson-red);
    color: rgb(4, 12, 18);
    min-width: 100%;
}

#cv-link {
    width: 20px;
    height: 20px;
}

.cv-col {
    max-width: 30px;
}

#field {
    /* border: transparent; */
    border-radius: 2px;
    margin: 20px 20px 20px 20px;
    padding: 30px 30px 30px 30px;
    border: 2px solid var(--crimson-red);
}

#field-button {
    width: 100%;
    border-radius: 10px;
    /* margin: 20px 20px 20px 20px; */
    padding: 20px 30px 20px 30px;
}

#sub-field {
    border: transparent;
    margin: 0px 0px 20px 20px;
    padding: 10px 0px 10px 0px;
}

.dormitory-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-labels {
    font-size: medium;
    font-weight: 500;
}

#form-legend {
    font-size: larger;
    font-weight: 700;
}

#form-submit {
    font-size: 1.1rem;
    font-family: var(--nav-font);
    font-weight: 700;
    width: 100%;
    background-color: #eeeeee;
    border-radius: 5px;
}

.form-text {
    margin-top: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: medium;
    font-weight: 500;
    border: 2px solid var(--crimson-red);
    width: 100%;
}

#placement-pic {
    width: 100%;
    max-width: 900px;
    max-height: 400px;
    border: 2px solid black;
    border-radius: 5px;
}

.placement-image {
    display: flex;
    background-color: var(--white);
    justify-content: center;
}

@media (min-width: 651px) {
    * {
        cursor: none;
    }

    .custom__cursor__inner {
        height: 7.5px;
        width: 7.5px;
        position: fixed;
        transform: translate(0px, 0px);
        background-color: #e9963d;
        border-radius: 50%;
        transition: height 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96),
            width 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
        z-index: 5000;
        pointer-events: none;
    }

    .custom__cursor__outer {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 8px solid var(--dusky-white);
        background-color: transparent;
        position: fixed;
        top: 7px;
        left: 7px;
        transform: translate(0px, 0px);
        pointer-events: none;
        opacity: 0.4;
        z-index: 5000;
        /* animation: cursorAnim 0.5s infinite alternate; */
    }
}

@media (max-width: 650px) {
    .nav-elements {
        font-size: 1.3rem;
    }

    .nav-image {
        display: inline-flex;
        align-items: left;
        margin-left: 5px;
        margin-right: 10px;
    }

    .nav-date-time {
        display: none;
    }

    #date {
        align-items: right;
        padding-right: 10px;
    }

    .mainlogo {
        width: 35px;
        height: 30px;
    }

    .form-labels {
        font-size: medium;
        font-weight: 500;
    }

    #form-legend {
        font-size: medium;
        font-weight: 500;
    }

    #form-submit {
        font-size: 1rem;
        font-family: var(--nav-font);
        font-weight: 500;
        width: 100%;
        background-color: #eeeeee;
        border-radius: 5px;
    }

    .form-text {
        margin-top: 5px;
        font-family: "Montserrat", sans-serif;
        font-size: medium;
        font-weight: 500;
        width: 100%;
    }

    .style-table td {
        /* border-collapse: collapse; */
        border: 3px solid var(--crimson-red);
        /* border-collapse: collapse; */
        text-align: left;
        padding: 10px 10px 10px 10px;
        font-size: medium;
    }

    .style-table th {
        text-align: left;
        padding: 10px 10px 10px 10px;
        background-color: rgb(4, 12, 18, 0.1);
        border: 3px solid var(--crimson-red);
        color: rgb(4, 12, 18);
    }
}
